*{
    box-sizing: border-box;
  /*  margin: 20px 70px;*/
    font-size: 17px;
    /*padding: 4px;*/
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: bold;
}
.box{
    background-color: rgba(199, 186, 129, 0.37);
    margin: 20px 200px;
    /*padding: 5px 0px 15px 20px;*/
    border: 1px solid rgb(114, 91, 69);
    border-radius: 4px;
}
.heading{
    text-align: center;
    font-size: 50px;
    background-color: rgb(36, 196, 142);
    padding-top: 50px;
    padding-bottom: 50px;
    margin:unset;
}
p{
    margin: 20px 70px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
select,
textarea{
    margin: 20px 70px;
    width: 80%;
    padding: 10px;
    border: 1px solid rgb(235, 195, 110);
    border-radius: 5px;
    text-align: left;
}
fieldset{
    text-align: justify;
    margin: 20px 135px;
    background-color: whitesmoke;
    border: 1px solid rgb(238, 209, 157);
    border-radius: 5px;
    width: 70%;
}
input[type="submit"]
{
    margin: 20px 70px;
    background-color: rgb(36, 196, 142);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
}
input[type="submit"]:hover
{
    background-color: tomato;
}
.button{
    text-align: center;
}
